.gameDiv {
  display: grid;
  grid-template-areas:
    'message'
    'commandInput';
  grid-template-rows: auto max-content;
}

.messageDiv {
  grid-area: 'message';
  overflow-y: auto;
}

.commandDiv {
  grid-area: 'commandInput';
}

input {
  max-height: 2rem;
}

.chatName {
  font-size: larger;
  color: black;
}

@supports (-webkit-text-stroke: 1px black) {
  .chatName {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
  }
}
